<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}

  <body id="body">
    <div class="container-fluid text-center fixed">
      <div class="row brightness body-main">
        <div class="col-lg-3 bg-dark">
          <p
            class="climate-font text-uppercase text-white fw-bolder p-2 mt-3 mb-5 fs-3"
          >
            Meloplay
          </p>

          <!-- ************************************************************************* -->
          <!-- Navigation start  -->
           <nav class="d-flex flex-column align-items-center">
            <a
              class="text-uppercase text-decoration-none text-white fw-bolder mb-5 load-full-page"
              href="{{ url_for('home') }}"
              ><i
                style="width: 50px; font-size: 35px"
                class="bx bx-home-smile"
              ></i
              >home</a
            >
            <a
              id="playlist-link"
              class="text-uppercase text-decoration-none text-white fw-bolder mb-5 mt-5"
              href="{{ url_for('playlist') }}"
            >
              <i style="width: 50px; font-size: 35px" class="bx bx-music"></i
              >playlist</a
            >

            <a
              class="text-uppercase text-decoration-none text-white fw-bolder mb-5 mt-5"
              href="{{ url_for('account') }}"
              ><i style="width: 50px; font-size: 35px" class="bx bx-user"></i
              >account</a
            >
            <a
              class="text-uppercase text-decoration-none text-white fw-bolder mb-5 mt-5"
              href="{{ url_for('setting') }}"
              ><i style="width: 50px; font-size: 35px" class="bx bx-cog"></i
              >setting</a
            >
            <a
              class="btn btn-info rounded-5 mb-5 mt-3"
              href="{{url_for('logout')}}"
              >Logout</a
            >
          </nav>
          <!-- Navigation end -->
          <!-- ************************************************************************* -->
        </div>
        <div class="d-flex flex-column col-lg-9 brightness">
          <div class="d-flex">
            <div class="me-5 mt-2">
              <h4 class="ms-5">
                Hello
                <span class="user-name fw-semibold text-uppercase"
                  >{{firstname}} {{lastname}}</span
                >!
              </h4>
              <p class="ms-5">What music would you like to hear today?</p>
            </div>
            <!-- Search bar -->
            <!-- ************************************************************************* -->

            <form class="mt-3 ms-5 ps-5" role="search">
              <input
                class="form-control me-5 rounded-5 border border-3"
                type="search"
                placeholder="Search"
                aria-label="Search"
              />
            </form>
            <svg
              class="mt-4 ms-5"
              id="light-mode"
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="26"
              fill="currentColor"
              class="bi bi-lightbulb"
              viewBox="0 0 16 16"
            >
              <path
                d="M2 6a6 6 0 1 1 10.174 4.31c-.203.196-.359.4-.453.619l-.762 1.769A.5.5 0 0 1 10.5 13a.5.5 0 0 1 0 1 .5.5 0 0 1 0 1l-.224.447a1 1 0 0 1-.894.553H6.618a1 1 0 0 1-.894-.553L5.5 15a.5.5 0 0 1 0-1 .5.5 0 0 1 0-1 .5.5 0 0 1-.46-.302l-.761-1.77a1.964 1.964 0 0 0-.453-.618A5.984 5.984 0 0 1 2 6zm6-5a5 5 0 0 0-3.479 8.592c.263.254.514.564.676.941L5.83 12h4.342l.632-1.467c.162-.377.413-.687.676-.941A5 5 0 0 0 8 1z"
              />
            </svg>
            <svg
              class="mt-4 ms-5"
              id="dark-mode"
              xmlns="http://www.w3.org/2000/svg"
              width="50"
              height="26"
              fill="white"
              class="bi bi-lightbulb-off"
              viewBox="0 0 16 16"
              style="display: none"
            >
              <path
                fill-rule="evenodd"
                d="M2.23 4.35A6.004 6.004 0 0 0 2 6c0 1.691.7 3.22 1.826 4.31.203.196.359.4.453.619l.762 1.769A.5.5 0 0 0 5.5 13a.5.5 0 0 0 0 1 .5.5 0 0 0 0 1l.224.447a1 1 0 0 0 .894.553h2.764a1 1 0 0 0 .894-.553L10.5 15a.5.5 0 0 0 0-1 .5.5 0 0 0 0-1 .5.5 0 0 0 .288-.091L9.878 12H5.83l-.632-1.467a2.954 2.954 0 0 0-.676-.941 4.984 4.984 0 0 1-1.455-4.405l-.837-.836zm1.588-2.653.708.707a5 5 0 0 1 7.07 7.07l.707.707a6 6 0 0 0-8.484-8.484zm-2.172-.051a.5.5 0 0 1 .708 0l12 12a.5.5 0 0 1-.708.708l-12-12a.5.5 0 0 1 0-.708z"
              />
            </svg>
          </div>
         
          <!-- ************************************************************************************** -->
          <!-- music player section -->

          <!--Change to display cover art give id=music-player-->
          <div class="music-player row ms-3 border-top border-dark">
            <img
              id="track-art"
              src="/static/images/Back2Boston.jpg"
              style="height: 60px; width: 90px"
            />

            <div class="me-8 col-lg-3 margin-top: 10px">
              <div class="now-playing">PLAYING x OF y</div>
              <div class="track-art"></div>
              <div class="track-name">Track Name</div>
              <div class="track-artist">Track Artist</div>
            </div>

            <!-- Slider goes here !!!!-->

            <!-- ************************************************** -->
            <!-- Song buttons -->
            <div class="play-buttons m-3 col-lg-7">
              <!-- previous button -->
              <div  class="slider-container row me-5">
                <div class="col-4" id="current-time">00:00</div>
                <input class="col-4"
                  type="range"
                  min="1"
                  max="100"
                  value="0"
                  id="seek-slider"
                  onchange="seekTo()"
                />
                <div class="col-4" id="total-duration">00:00</div>
              </div>

              <svg
                class="prev-track"
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="26"
                fill="currentColor"
                class="bi bi-arrow-left-circle"
                id="play-buttons-previous"
                viewBox="0 0 16 16"
                id="prev-button"
                onclick="prevTrack()"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zm-4.5-.5a.5.5 0 0 1 0 1H5.707l2.147 2.146a.5.5 0 0 1-.708.708l-3-3a.5.5 0 0 1 0-.708l3-3a.5.5 0 1 1 .708.708L5.707 7.5H11.5z"
                />
              </svg>
              <!-- ************************* -->
              <!--Play button -->
              <svg
                class="playpause-track"
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="26"
                fill="currentColor"
                class="bi bi-play-circle"
                viewBox="0 0 16 16"
                id="play-button"
                onclick="playPauseTrack()"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M6.271 5.055a.5.5 0 0 1 .52.038l3.5 2.5a.5.5 0 0 1 0 .814l-3.5 2.5A.5.5 0 0 1 6 10.5v-5a.5.5 0 0 1 .271-.445z"
                />
              </svg>
              <!-- ************************* -->
              <!--Stop button -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="26"
                fill="currentColor"
                class="bi bi-pause-circle"
                viewBox="0 0 16 16"
                id="stop-button"
                style="display: none"
              >
                <path
                  d="M8 15A7 7 0 1 1 8 1a7 7 0 0 1 0 14zm0 1A8 8 0 1 0 8 0a8 8 0 0 0 0 16z"
                />
                <path
                  d="M5 6.25a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5zm3.5 0a1.25 1.25 0 1 1 2.5 0v3.5a1.25 1.25 0 1 1-2.5 0v-3.5z"
                />
              </svg>

              <!-- next button -->
              <svg
                class="next-track"
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="26"
                fill="currentColor"
                class="bi bi-arrow-right-circle"
                viewBox="0 0 16 16"
                id="next-button"
                onclick="nextTrack()"
              >
                <path
                  fill-rule="evenodd"
                  d="M1 8a7 7 0 1 0 14 0A7 7 0 0 0 1 8zm15 0A8 8 0 1 1 0 8a8 8 0 0 1 16 0zM4.5 7.5a.5.5 0 0 0 0 1h5.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H4.5z"
                />
              </svg>
              <span class="pe-4" id="song-length2"></span>
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="16"
                height="16"
                fill="currentColor"
                class="bi bi-megaphone"
                viewBox="0 0 16 16"
              >
                <path
                  d="M13 2.5a1.5 1.5 0 0 1 3 0v11a1.5 1.5 0 0 1-3 0v-.214c-2.162-1.241-4.49-1.843-6.912-2.083l.405 2.712A1 1 0 0 1 5.51 15.1h-.548a1 1 0 0 1-.916-.599l-1.85-3.49a68.14 68.14 0 0 0-.202-.003A2.014 2.014 0 0 1 0 9V7a2.02 2.02 0 0 1 1.992-2.013 74.663 74.663 0 0 0 2.483-.075c3.043-.154 6.148-.849 8.525-2.199V2.5zm1 0v11a.5.5 0 0 0 1 0v-11a.5.5 0 0 0-1 0zm-1 1.35c-2.344 1.205-5.209 1.842-8 2.033v4.233c.18.01.359.022.537.036 2.568.189 5.093.744 7.463 1.993V3.85zm-9 6.215v-4.13a95.09 95.09 0 0 1-1.992.052A1.02 1.02 0 0 0 1 7v2c0 .55.448 1.002 1.006 1.009A60.49 60.49 0 0 1 4 10.065zm-.657.975 1.609 3.037.01.024h.548l-.002-.014-.443-2.966a68.019 68.019 0 0 0-1.722-.082z"
                />
              </svg>
              <input
                type="range"
                id="volume-slider"
                min="0"
                max="1"
                step="0.1"
                value="1"
                onchange="setVolume()"
              />
              <!-- More info button -->
              <svg
                xmlns="http://www.w3.org/2000/svg"
                width="50"
                height="26"
                fill="currentColor"
                class="bi bi-three-dots"
                id="more-info"
                viewBox="0 0 16 16"
              >
                <path
                  d="M3 9.5a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3zm5 0a1.5 1.5 0 1 1 0-3 1.5 1.5 0 0 1 0 3z"
                />
              </svg>
            </div>
          </div>
         
          <!-- ************************************************************************************** -->
          <!-- music player section end -->
        </div>
      </div>
    </div>
    <!-- body-content start ************************************************************************************************************************************************************************ -->
     <div class="fixed brightness body-content ">
      <div class="row">
      <a class="col-4 " onclick="playAlbum()" href="#"><div class="jarnell-playlist"></div></a>
    </div>
    <!--body-content end ****************************************************************************************************************************************************************************************************************** -->

  


    <script src="{{ url_for('static', filename='main.js') }}"></script>
    <script src="{{ url_for('static', filename='play.js') }}"></script>
  </body>
</html>
