<!DOCTYPE html>
<html lang="en">
  {% include 'header.html' %}

  <body>
    {% include 'home.html' %}
    <!-- ************************************************************************************************************************************************ -->
    <!-- playlist-centent-start -->
    <div class="fixed brightness setting-content">
      Setting content goes here
    </div>
    <!--playlist content end****************************************************************************************************************************** -->
  </body>

  <style>
    h1,
    h2 {
      font-family: "Climate Crisis", cursive;
    }
    .setting-content {
      background-color: white;
      position: absolute;
      top: 160px;
      right: 20px;
      height: calc(100% - 150px);
      max-height: calc(100% - 150px);
      width: 70%;
      overflow-x: hidden;
      overflow-y: scroll;
    }
    .fixed {
      position: fixed;
    }
  </style>
</html>
